.container {
  width: 90%;
  margin: 0 auto;
  align-items: center;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}

.pagination li {
  width: 40px;
}
